---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/en/AboutEn.astro";
import Education from "@/components/sections/en/EducationEn.astro";
import Experience from "@/components/sections/en/ExperienceEn.astro";
import Hero from "@/components/sections/en/HeroEn.astro";
import Projects from "@/components/sections/en/ProjectsEn.astro";
import Skills from "@/components/sections/en/SkillsEn.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Language from "@/components/sections/en/LanguageEn.astro";

import { basics } from "@cv";
const { name, label } = basics;
---

<Layout title={`Portfolio of ${name} - ${label}`}>
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
    <Language />
    <div class="refs">
      <section>
        <img src="/spain-flag.png" alt="usa-flag" class="flag"/>
        <a href="/">es</a>
      </section>
      <section>
        <img src="/usa-flag.png" alt="spain-flag" class="flag"/>
        <a href="/en">en</a>
      </section>
    </div>
  </main>

  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
  .refs {
    position: absolute;
    top: 2rem;
    right: 8rem;
    display: flex;
    gap:8px
  }
  .refs a {
    color: black;
  }
  .refs section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flag {
    width: 30px;
  }
</style>
